@page "/"

<PageTitle>Home</PageTitle>



<div class="container-md">
	<h1>Welcom to The Wag!</h1>
	<p>
		The Wag is a friendly online store that sells dog photos, check out our <NavLink class="nav-link" href="catalog">catalog!</NavLink>
	</p>
	<p>
		Uploads comming soon, stay tuned!
	</p>
	<p><img class="img-fluid" src="images/thewaglogo.png" /></p>
</div>


